{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section id="all-hostel">
        <div class="all-hostel-first-part">
            <div class="all-hostel-first-part-text">
                <h1>Votre <span>prochaine
                    destination</span> c’est</h1>
                <select id="country-select">
                    <option value="" disabled selected>-- Pays --</option>
                    {% for country in countries %}
                        <option value="{{ country.countryName }}">{{ country.countryName }}</option>
                    {% endfor %}
                </select>

                <img class="star-icon star-icon-1" src="{{ asset('build/sparkles.png') }}">
                <img class="star-icon star-icon-2" src="{{ asset('build/sparkles.png') }}">
            </div>
        </div>
        <div class="all-hostel-second-part">
            <div class="all-hostel-second-part-number">
                <h3>01</h3>
                <h3>02</h3>
                <h3>03</h3>
            </div>
            <img src="{{ asset('build/gratte-ciel.jpg') }}" class="all-hostel-second-part-image">
            <h2 class="all-hostel-second-part-image-h2">01</h2>
            <div class="all-hostel-second-part-text">
                <h1>Je veux un hôtel
                    Extra-ordinaire !</h1>
                <select disabled id="city-select">
                    <option value="" disabled selected>-- Ville --</option>
                </select>
                <select disabled id="hotel-select">
                    <option value="" disabled selected>-- Hôtel --</option>
                </select>
                <button id="goToHotelPage" data-url="">C'est parti !</button>
                <img class="star-icon star-icon-3" src="{{ asset('build/sparkles.png') }}">

            </div>
        </div>
    </section>
{% endblock %}
